.DS_Store
bin/
/.idea
.idea
.env
.vscode
__pycache__/
*.py[cod]
*.pkl
*.pt
ai-service/venv/
ai-service/__pycache__/
ai-service/data/
ai-service/models/
ai-service/data/raw/
ai-service/data/hazard_reports_train.csv
ai-service/models/
*.pkl
*.csv
*.gz
